*xcodeproj/*mode
*xcodeproj/*pbxuser
*xcodeproj/*per
*xcodeproj/project.xcworkspace
*xcodeproj/xcuserdata
.DS_Store
*.xcuserstate

YunSDK.xcodeproj/project.xcworkspace/xcuserdata/zrz.xcuserdatad/UserInterfaceState.xcuserstate
